.container{
    max-width: 1350px;
    margin: auto;
}

.tituloCont{
    margin-left: 35%;
    margin-right: 35%;
    border-radius: 35px
     
}

.tituloCont h1{
    border-radius: 100px;
    background-color: aqua;
    padding: 30px;
    text-align: center;
}

.pokemon-container{
    background-color: rgb(34, 198, 195);
}

#myPokemon{
    background-color: rgb(171, 177, 62);
}
