.container{
    max-width: 1350px;
    margin: auto;
}

.tituloCont{
    margin-left: 35%;
    margin-right: 35%;
    border-radius: 35px
     
}

.tituloCont h1{
    border-radius: 100px;
    background-color: aqua;
    padding: 30px;
    text-align: center;
}

#contPoke{
    column-count:2;
}

.pokemon-container{
    background-color: #9EB384;
   margin: 20px;
}


#myPokemon{
    background-color: rgb(171, 177, 62);
}
